* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
Header componentes */






header {
    margin-top: .5rem;
    width: 100vw;
    width: 90%;
    text-align: center;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0);
    max-height: 13vh;
    background: white;
    z-index: 99;
    overflow: hidden;
}

.search {
    display: flex;

    justify-content: center;
}

#header___sort-btn {
    width: 2rem;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#header___add-btn {
    width: 4rem;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#header___search-bar {

    max-height: 4rem;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 22rem;

}

#header___search-btn {

    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    width: 3rem;
    margin-right: .3rem;
    max-height: 4rem;
}


header input {
    max-height: 4rem;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 22rem;
}

#tools {
    flex-direction: row;
    justify-content: center;
    margin-top: .2rem;
}

#tools button {
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;

    width: 3rem;
    margin-right: .3rem;
    max-height: 4rem;
    padding: .2rem;
}

#tools input {
    width: 16rem;

}

#header__results {
    text-align: center;
}

/* Main comonents  */

#main__album-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    max-height: 80vh;
}

main {
    position: fixed;
    top: 13vh;
    max-height: 88vh;
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;

}

/* card */

.card {
    border: solid 1px #00b4cc;
    padding: .1rem;
    margin: .3rem;
    background-color: #ffffff00;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 180px;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card h3 {
    word-wrap: break-word;
    max-width: 180px;
}

img {
    max-width: 150px;
    max-height: 150px;

}

section button {
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-top: .3rem;

}

/* Form  */

form {
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    margin: 2rem;
    border-radius: .2rem;
    background-color: #00B4CC;
    border: solid 1px black;
    max-width: 90vw;
}

form input {
    max-height: 4rem;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 100%;

}

form button {

    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-top: .5rem;
    padding: .2rem;
}